<div class="container">
  <div class="row">
    <div class="col-11 col-md-6 mx-auto p-4 m-5 border-lime shadow-sm cuerpo">
        <h2 class="pb-3 text-black cabezera text-center">Recuperar Contraseña</h2>
        <div class="form-style">
            <form [formGroup]="formulario" (ngSubmit)="VerificarCode()">
                <div class="form-group pb-3">
                    <input type="email" placeholder="Correo" class="form-control" aria-describedby="emailHelp" formControlName="Correo">
                    
                </div>
                <div class="pb-2">
                    <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2">Verificar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<app-modal *ngIf="openModal">

</app-modal>